:root {
    --input-border: thin solid var(--color-background-highlighted);
}

.border-default {
    border: var(--input-border);
}

.border-default-transparent {
    border: thin solid transparent;
}

.border-radius-none {
    border-radius: var(--size-none);
}

.border-radius {
    border-radius: var(--size-xs);
}

.border-radius-soft {
    border-radius: var(--size-xs);
}

.input-border {
    border: var(--input-border);
}

.border-none {
    border: none;
}