/* =============================== *
 * Colors                          *
 * =============================== */

:root {
    --color-background: #1e1e1e;
    --color-background-bars: #2d2d2d;
    --color-background-panels: #252527;
    --color-background-highlighted: #3c3c3c;
    /*  */
    --color-primary: #00672D;
    --color-success: #1A5CB4;
    --color-text-white: #fff;
    --color-error: #B10000;
    --color-text: #C4C4C4;
}

.background {
    background-color: var(--color-background);
}

.background-bars {
    background-color: var(--color-background-bars);
}

.background-panels {
    background-color: var(--color-background-panels);
}

.background-highlighted {
    background-color: var(--color-background-highlighted);
}

.background-transparent {
    background-color: transparent;
}

.background-success {
    background-color: var(--color-success);
}

.background-error {
    background-color: var(--color-error);
}

.background-error-hover:hover {
    background-color: var(--color-error);
}

.background-primary {
    background-color: var(--color-primary);
}

.text-color {
    color: var(--color-text);
}

.text-white {
    color: var(--color-text-white);
}

.text-primary {
    color: var(--color-primary);
}

.text-success {
    color: var(--color-success);
}

.text-error {
    color: var(--color-error);
}